.row-content {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}
.form-block {
    width: 50%;
}
.email-status {
    display: none;
    margin-top: 5px;
}
.email-status--success {
    color: green;
}
.email-status--error {
    color: red;
}